body {
    background-color: #4B0082;
    background-image: url('../_imagens/goku.png');
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 35%;
}

h1 {
    color: #DAA520;
    background-color: #8B008B;
    font-family: cursive;
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
}

fieldset {
    color: #FFFFFF;
    border: solid 5px;
    border-color: #FFD700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

input[type=text],
input[type=number],
input[type=tel] {
    font-size: 20px;
    border-radius: 10px;
    padding: 6px 8px;
    width: 1150px;
}

select {
    background-color: #F1F1F1;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 6px 8px;
    width: 80vh;
}

.botao {
    background-color: #9932CC;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 16px 32px;
    cursor: pointer;
}